@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

.intro-header-text {
    font-family: Monospace, sans-serif;
    letter-spacing: 5px;
    font-size: 5em;
    font-weight: 400;
    color: #fff;
    text-align: center;
}


.text-font {

    font-family: Monospace, sans-serif;
}

.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media li {
    display: inline;
    padding: 20px;
}

.social-media-icon {
    color: #FFF;
    padding: 5px 10px;
}

.social-media-icon:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}

#introduction {

    background-color: black;
    background-size: cover;
    height: 100vh;
}

.intro-content {

    height: 95vh;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}


.nav {

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.nav-link-text li {
    margin: 15px;
}

.nav-link-text li a {
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
}

.nav-link-text li a:hover {
    background-color: transparent !important;
    transform: scale(1.5, 1.5);
}





/***********    About Section    ************/


.about-center-align {
    text-align: center;
}
.about-icon {
    font-size: 16em !important;
    margin-bottom: 20px;
    color: rgb(108,118,127);
}

.about-icon-developer {
    font-size: 8em !important;
    margin-bottom: 20px;
    color: rgb(108,118,127);
}

.about-p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: 100;

    margin: auto;
    padding-bottom: 10vh;
    /* border: 5px red solid; */
}

.about-header {
    text-align: center;
    margin: 40px 0;
}

/************* Portfolio **********/

#portfolio {
    background-color: rgb(169,0,39);
    opacity: 0.9;
    color: white;
    height: 50vh;
    text-align: center;
    padding-top: 20px;
}


/************ Contact ************/
#contact {
    text-align: center;
}

#contact span {
    display: inline-block;
    margin-left: 25px;
}

#contact span label {
    display: block;
    text-align: left;
    font-size: 12pt;
}

#contact div span input {
    display: block;
    margin: 0 auto;
    height: 40px;
    font-size: 12pt;
    width: 180px;
}

#contact span textarea {
    display:block;
    margin: 0 auto 20px;
    font-size: 12pt;

    width: 380px;
    height: 200px;
}

#contact-submit {
    float: right;
    margin-bottom: 20px;
}

/************ Footer ************/

#footer {
    background-color: black;
    color: white;

    display: flex;
    display:-webkit-flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    aign-items: center;

}
