@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

.intro-header-text {
    font-family: Monospace, sans-serif;
    letter-spacing: 5px;
    font-size: 5em;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media li {
    display: inline;
    padding: 20px;
}

.social-media-icon {
    color: #FFF;
    padding: 5px 10px;
}

.social-media-icon:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}

#introduction {

    background-color: black;
    background-size: cover;
    height: 100vh;
}

.intro-content {

    height: 95vh;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}


.nav {

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.nav-link-text li {
    margin: 15px;
}

.nav-link-text li a {
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
}

.nav-link-text li a:hover {
    background-color: transparent !important;
    transform: scale(1.5, 1.5);
}





/***********    About Section    ************/


.about-center-align {
    text-align: center;
}
.about-icon {
    font-size: 16em !important;
    margin-bottom: 20px;
    color: black;
}

.about-icon-developer {
    font-size: 8em !important;
    margin-bottom: 20px;
    color: black;
}

.about-p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: 100;

    margin: auto;
}

.about-header {
    text-align: center;
    font-family: Monospace;
    margin: 40px 0;
}



/************* Portfolio **********/

#portfolio {
    background-color: #e5eaee;
    height: 50vh;
}

