@font-face {
    font-family: Dosis;
    src: url(https://fonts.googleapis.com/css?family=Dosis:300,500,700);
}

.main-content{
    /* background-color: #FF0000; */
    height:60px;
}

.side-content {
    /* background-color: #00FF00; */
    height:60px;
}

h2 {
    letter-spacing: 3px;
}

.red-text {
    font-family: Dosis, sans-serif;
    font-weight: 300;
    color: #cc6666;
}

.github {
    color: #000;
    opacity: 0.5;
}

.github:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}

.codepen {
    color: #000;
    opacity: 0.5;
}

.codepen:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}

.linkedin {
    color: #3184bc;
    opacity: 0.5;
}

.linkedin:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}

.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-media li {
    display: inline;
    padding: 20px;
}
